.type-container {
  font-family: "Flexo-Medium",arial,sans-serif;
  border-radius: 3px;
  line-height: 18px;
  width: 110px;
  font-size: 13px;
  text-align: center;
  margin: 5px 3px 5px 0;
  color: #ffffff;
}

.grass {
  border-radius: 3px;
  background: #9ACC50;
}

.poison {
  border-radius: 3px;
  background: #B97FC8;
}

.fire {
  border-radius: 3px;
  background: #FD7D22;
}

.flying {
  border-radius: 3px;
  background: #BDB9B8;
}

.water {
  border-radius: 3px;
  background: #4592C3;
}

.bug {
  border-radius: 3px;
  background: #729F3E;
}

.normal {
  border-radius: 3px;
  background: #A3ACAE;
}

.electric {
  border-radius: 3px;
  background: #EED535;
}

.ground {
  border-radius: 3px;
  background: #AB9841;
}

.fairy {
  border-radius: 3px;
  background: #FDB9E9;
}

.fighting {
  border-radius: 3px;
  background: #D46722;
}

.psychic {
  border-radius: 3px;
  background: #F366B9;
}

.ground {
  border-radius: 3px;
  background: #A38B20;
}

.rock {
  border-radius: 3px;
  background: #A38B20;
}

.steel {
  border-radius: 3px;
  background: #9FB7B7;
}

.ice {
  border-radius: 3px;
  background: #51C4E7;
}

.ghost {
  border-radius: 3px;
  background: #7B62A3;
}

.dragon {
  border-radius: 3px;
  background: #F16E58;
}

