.grass {
  background: #9ACC50;
}

.poison {
  background: #B97FC8;
}

.fire {
  background: #FD7D22;
}

.flying {
  background: #BDB9B8;
}

.water {
  background: #4592C3;
}

.bug {
  background: #729F3E;
}

.normal {
  background: #A3ACAE;
}

.electric {
  background: #EED535;
}

.ground {
  background: #AB9841;
}

.fairy {
  background: #FDB9E9;
}

.fighting {
  background: #D46722;
}

.psychic {
  background: #F366B9;
}

.ground {
  background: #A38B20;
}

.rock {
  background: #A38B20;
}

.steel {
  background: #9FB7B7;
}

.ice {
  background: #51C4E7;
}

.ghost {
  background: #7B62A3;
}

.dragon {
  background: #F16E58;
}

